{% comment %}
    Usage:
    {% render 'product-grid-item',
      product: {product object}
    %}
{% endcomment %}

{% assign prod = product %}

<div class="product-grid-item">
  <div class="product-grid-item-inner">
    <img src="{{ prod.featured_image | img_url: '740x' }}" alt="{{ prod.title }}">
    <div class="content">
      <a href="{{ prod.url }}">
        <h3 class="h3 dark">{{ prod.title }}</h3>
      </a>
      <p class="">
        {% if prod.compare_at_price_max != 0 %}
          <span class="compare-at-price">{{ prod.compare_at_price_max | money }}</span>
          &nbsp;
          {% endif %}
          
          {{ prod.price | money }}</p>
    </div>
    <input type="hidden" name="id" value="{{ prod.selected_or_first_available_variant.id }}">
    <button type="button" x-data @click="$store.cart.addItem({{ prod.selected_or_first_available_variant.id }}, 1)">
      Add to cart
    </button>
  </div>
</div>