{% schema %} 
{
  "name": "Cart Section",
  "class": "shopify-section-main-cart",
  "tag": "section",
  "settings": []
}
{% endschema %}

{{ 'section-main-cart.css' | asset_url | stylesheet_tag }}

<div class="shopify-section-main-cart-inner main-container">

  <form action="{{ routes.cart_url }}" method="POST">
    <table style="width:100%">
      <tr style="text-align: left;">
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th>Total</th>
      </tr>
      {% for item in cart.items %}
        <tr>
          <td>
              {{ item.title }}
          </td>
          <td>
            {{ item.price | money }}
          </td>
          <td>
            {{ item.quantity }}
          </td>
          <td>
            <a href="{{ item.url_to_remove }}">Remove</a>
          </td>
          <td>
            {{ item.final_line_price | money }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </form>
</div>
